<!DOCTYPE html>
<html>
    <%- include ('../../partials/header.ejs'); %>
    <body>
        <%- include ('../../partials/navbar.ejs'); %>
        <h2> Hello my friend</h2>
        
       
    </body>


    <%- include ('../../partials/footer.ejs'); %>
</html>